
<box class = settings>
        <h1>Settings</h1>
        <a href="/seed">
                <h1>Reset</h1>
        </a>
        <a href="/">
                <h1>Home</h1>       
        </a>
    </box>

<Div class="Top">
        <h1>REEL TALK</h1>
</Div>