/* Reset styles for cross-browser consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.StickyTop
{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        display: flex;
        flex-flow: column;
        background-image: url('https://th.bing.com/th/id/R.84e4a342622e2129949448172421b74f?rik=SELFg6ubcD4YuQ&riu=http%3a%2f%2fwww.fractalcamo.com%2fuploads%2f5%2f9%2f0%2f2%2f5902948%2fs189772745713394276_p5588_i149_w640.jpeg&ehk=QeErQsTC77NBMRamoYv3E2jxs9gj00lTY6bgmVwsDvU%3d&risl=&pid=ImgRaw&r=0;');
}
.Toptotal
{
    
    width:100dvw;
    background-image: url("https://th.bing.com/th/id/R.847fa3429e0402cbe1b4869be373dd38?rik=VqqOdfm06W%2bZog&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fxmIejHd.jpg&ehk=uK9oWpMla%2fJASDFU4NRy4VPWxS1AqPrQ69FqPDxZdcA%3d&risl=&pid=ImgRaw&r=0");
    .settings
    {
        display: flex;
        flex-flow: row-reverse;
        column-gap: 50px;
        background: transparent;
        a{
            color: black;
            text-decoration: none;
        }
        h1:hover
        {
            cursor: pointer;
        }
        h1
        {
            Font-size:35px;
            padding-right: 5%;
        }
    }
    .Top
    {
        height:45dvh;
        width:100dvw;
        height:180px;
        justify-content: center;
        background-size: cover;
        h1
        {
            position: relative;
            margin-top: 2%;
            text-align: center;
            font-size: 400%;
            color: rgb(124, 91, 0);
            background-color: #022902; 
            opacity: .9;
        } 
    }
}

.itemList
{
    width:100dvw;

    display: flex;
    justify-content: center;
    background-image: url('https://th.bing.com/th/id/R.84e4a342622e2129949448172421b74f?rik=SELFg6ubcD4YuQ&riu=http%3a%2f%2fwww.fractalcamo.com%2fuploads%2f5%2f9%2f0%2f2%2f5902948%2fs189772745713394276_p5588_i149_w640.jpeg&ehk=QeErQsTC77NBMRamoYv3E2jxs9gj00lTY6bgmVwsDvU%3d&risl=&pid=ImgRaw&r=0;');
    form
    {
        height: fit-content;
        width: fit-content;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        column-gap: 50px;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content:center;
        justify-self: center;;
        align-self: center;
        background-color: white;
        opacity: .8;
        padding-left: 50px;
        padding-right: 50px;
        input
        {
            align-self: center;
            padding-bottom: 20px;
            width:fit-content;
            font-size: 2em;
        }
        Label
        {
            font-size: 200%;
            align-self: center;
            padding-Top: 20px;
            width:20%;
        }
        .submit
        {
            font-size: 120%;
            text-align: center;
            margin-top:30px;
        }
    }
}