/* Reset styles for cross-browser consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.StickyTop
{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        display: flex;
        flex-flow: column;
        background-image: url('https://th.bing.com/th/id/OIP.e61ZUm2OL9EtmH0lNxT4dwHaE8?pid=ImgDetMain');
        .Filter:hover
        {
            background-color: white;
            opacity: 1;
            display: flex;
            flex-flow: row;
            form
            {
                display: flex
            }
    
        }
        .Filter
        {
            background-color: white;
            opacity: .5;
            display: flex;
            flex-flow: row;
            form
            {
                display: none
            }
        };
}
.Toptotal
{
    
    width:100dvw;
    background-image: url("https://th.bing.com/th/id/R.847fa3429e0402cbe1b4869be373dd38?rik=VqqOdfm06W%2bZog&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fxmIejHd.jpg&ehk=uK9oWpMla%2fJASDFU4NRy4VPWxS1AqPrQ69FqPDxZdcA%3d&risl=&pid=ImgRaw&r=0");
    .settings
    {
        display: flex;
        flex-flow: row-reverse;
        column-gap: 50px;
        background: transparent;
        a{
            color: black;
            text-decoration: none;
        }
        h1:hover
        {
            cursor: pointer;
        }
        h1
        {
            Font-size:35px;
            padding-right: 5%;
        }
    }
    .Top
    {
        height:45dvh;
        width:100dvw;
        height: 100px;
        justify-content: center;
        background-size: cover;
        h1
        {
            position: relative;
            text-align: center;
            font-size: 400%;
            color: rgb(124, 91, 0);
            background-color: #022902; 
            opacity: .9;
        } 
    }
}
.itemList
{

    height:100dvh;
    width:100dvw;
    background-color: transparent;
    .itemContainer
    {
        display: flex;
        flex: row;
        position:relative;
        padding-top: 10px;
        height:100dvh;
        width:100dvw;
        height: fit-content;
        min-height: 900px;
        color: black;
        background-color: tan;
        border: 2px solid black;
        z-index: inherit;
        .TitleandDelete
        {
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;
            h1
            {
                width:200px;
                
            }
            button
            {  
                width: 100px;
                height:80%;
            }  
        }
        img
        {
            width:100%;
            height:60%;
        }
        h1
        {
            text-decoration: underline;
        }
        
        h2
        {
            padding-top:10px
        }
        .purchaseContainer
        {
            padding-top:40px;
            display: flex;
            flex-flow: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            z-index: inherit;
            h1
            {
                padding-top:10px;
                padding-bottom:20px;
            }
        }
        .cart
        {
            padding-bottom: 10px;
            .input
            {
                position:relative;
                display: flex;
                flex-flow: column;
                row-gap: 5px;
                justify-content: space-evenly;
                input
                {
                    height: 35px;
                    width: 150px;
                    font-size: 2em; 
                }
                .buy
                {
                    font-size: 1em;
                    height: 35px;
                    width:100px;
                }
            }
        }
    }
    .reviews
    {
        display: flex;
        flex-flow: column;
        width: 50%;
        border: 2px solid black;
        overflow-y: scroll;
        .reviewContainer
        {
            border: 2px solid black;
            h1
            {
                padding:5px;
                font-size: 1em;
                text-decoration: none;
            }  
        }
    }
}

@media screen and (max-width: 425px)
{
    .Toptotal
    {
        .settings
        {
            h1
            {
                Font-size:15px;
                padding-right: 5%;
            }
        }
        .Top
        {
            h1
            {
                font-size: 300%;

            } 
        }
    }
    .Middle
    {
        font-size: 15pt;   
        #Lakes
        {

            h1
            {
                font-size: 30px;
            }

        }
        #Rivers
        {
            h1
            {
                font-size: 30px;
            }
        }
    }
    .List{

        .itemList
        {
            .itemContainer
            {

            min-width: 250px;
            min-height: 400px;
            height:400px;
            min-height: 300px;
            h2
            {
                font-size: 12px;
            }
            }
            img
            {
                width:100%;
                height:40%;
                padding: 10px;
            }
        }
    }
}
