/* Reset styles for cross-browser consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.StickyTop
{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        display: flex;
        flex-flow: column;
        background-image: url('https://media.istockphoto.com/photos/storm-at-night-picture-id456067599?k=6&m=456067599&s=612x612&w=0&h=UM0zY7MuXx0SXau7E6SVPbYfcTLuvO4g5fv2FxRqkgY=');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .Filter:hover
        {
            opacity: 1;
            display: flex;
            flex-flow: row;
            form
            {
                display: flex
            }
        }
        .Filter
        {
            background-color: white;
            opacity: .5;
            display: flex;
            flex-flow: row;
            height: 50px;
            h1
            {
                font-size: 50px;
            }
            form
            {
                font-size: 40px;
                display: none
            }
        }
}
.Toptotal
{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width:100dvw;
    .Top
    {
        height:15dvw;
        justify-content: center;
        background-size: cover;
        h1
        {
            position: relative;
            text-align: center;
            font-size: 600%;
            color:aqua;
            opacity: .9;
        } 
    }
    .settings
    {
        width:55%;
        display: flex;
        flex-flow: row-reverse;
        column-gap: 30px;
        background: transparent;
        a{
            text-decoration: none;
            height:fit-content;
            padding-right: 20px;
        }
        h1:hover
        {
            cursor: pointer;
        }
        h1
        {
            height:fit-content;
            color: darkblue;
            Font-size:60px;
            padding-right: 5%;
        }
    }

}
.itemList
{
    height:100dvh;
    width:100dvw;
    .itemContainer
    {
        display: flex;
        flex-flow: row;
        justify-content: start;
        position:relative;
        padding-top: 10px;
        height:1000px;
        width:100dvw;
        min-height: 900px;
        color: black;
        background-color: tan;
        border: 2px solid black;
        .reviewAndItem
        {
            width:100%;
            .TitleandDelete
            {
                display: flex;
                flex-flow: row;
                justify-content: space-evenly;
                h1
                {
                    font-size: 3em;   
                }
                button
                {  
                    width: 70px;
                    height:50px;
                }  
            }
            img
            {
                width:100%;
                height:50%;
            }
            h1
            {
                text-decoration: underline;
            }
            
            h2
            {
                padding-top:10px;
                font-size: 2em;
            }
            .purchaseContainer
            {
                padding-top:40px;
                display: flex;
                flex-flow: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                z-index: inherit;
                h1
                {
                    padding-top:10px;
                    padding-bottom:20px;
                }
            }
            .cart
            {
                padding-bottom: 10px;
                .input
                {
                    position:relative;
                    display: flex;
                    flex-flow: column;
                    row-gap: 5px;
                    justify-content: space-evenly;
                    input
                    {
                        height: 35px;
                        width: 150px;
                        font-size: 2em; 
                    }
                    .buy
                    {
                        font-size: 1em;
                        height: 50px;
                        width:100px;
                    }
                }
            }
        }
        .reviews
        {

            display: flex;
            flex-flow: column;
            row-gap: 40px;
            width: 50%;
            border: 2px solid black;
            overflow-y: scroll;
            h1
            {
                font-size: 2em;
            }
            a
            {
                text-decoration: none;
                color: black;
            } 
            .reviewContainer
            {
                position: relative;
                width:100%;
                border: 2px solid black;
                h1
                {
                    padding:5px;
                    font-size: 2em;
                    text-decoration: none;
                } 
            }
        }
    }
}
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
@media screen and (max-width: 1500px)
{
.StickyTop
{

        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        display: flex;
        flex-flow: column;
        background-image: url('https://media.istockphoto.com/photos/storm-at-night-picture-id456067599?k=6&m=456067599&s=612x612&w=0&h=UM0zY7MuXx0SXau7E6SVPbYfcTLuvO4g5fv2FxRqkgY=');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .Filter:hover
        {
            opacity: 1;
            display: flex;
            flex-flow: row;
            form
            {
                display: flex
            }
    
        }
        .Filter
        {
            background-color: white;
            opacity: .5;
            display: flex;
            flex-flow: row;
            form
            {
                display: none
            }
        }
}
.Toptotal
{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width:100dvw;
    .Top
    {
        height:45dvh;
        width:50dvw;
        height:180px;
        justify-content: center;
        background-size: cover;
        h1
        {
            position: relative;
            text-align: center;
            font-size: 500%;
            color:aqua;
            opacity: .9;
        } 
    }
    .settings
    {
        width:55%;
        display: flex;
        flex-flow: row-reverse;
        column-gap: 30px;
        background: transparent;
        a{
            text-decoration: none;
        }
        h1:hover
        {
            cursor: pointer;
        }
        h1
        {
            color: darkblue;
            Font-size:25px;
            padding-right: 5%;
        }
    }
}
.itemList
{
    height:100dvh;
    width:100dvw;
    background-color: transparent;
    .itemContainer
    {
        display: flex;
        flex-flow: row;
        position:relative;
        padding-top: 10px;
        height:900px;
        width:100dvw;
        min-height: 900px;
        color: black;
        background-color: tan;
        border: 2px solid black;
        .TitleandDelete
        {
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;
            h1
            {
                font-size: 1em;
                
            }
            button
            {  
                width: 50px;
                height:80%;
            }  
        }
        img
        {
            width:100%;
            height:60%;
        }
        h1
        {
            text-decoration: underline;
        }
        
        h2
        {
            padding-top:10px
        }
        .purchaseContainer
        {
            padding-top:40px;
            display: flex;
            flex-flow: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            z-index: inherit;
            h1
            {
                padding-top:10px;
                padding-bottom:20px;
            }
        }
        .cart
        {
            padding-bottom: 10px;
            .input
            {
                position:relative;
                display: flex;
                flex-flow: column;
                row-gap: 5px;
                justify-content: space-evenly;
                input
                {
                    height: 35px;
                    width: 150px;
                    font-size: 2em; 
                }
                .buy
                {
                    font-size: 1em;
                    height: 35px;
                    width:100px;
                }
            }
        }
        .reviews
        {
            display: flex;
            flex-flow: column;
            width: 50%;
            border: 2px solid black;
            overflow-y: scroll;
            .reviewContainer
            {
                position: relative;
                width:100%;
                border: 2px solid black;
                h1
                {
                    padding:5px;
                    font-size: 1em;
                    text-decoration: none;
                }  
            }
        }
    }
}
}
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
@media screen and (max-width: 900px)
{
    .Toptotal
    {
        .settings
        {
            h1
            {
                Font-size:15px;
                padding-right: 5%;
            }
        }
        .Top
        {
            h1
            {
                font-size: 300%;

            } 
        }
    }
    .Middle
    {
        font-size: 15pt;   
        #Lakes
        {

            h1
            {
                font-size: 30px;
            }

        }
        #Rivers
        {
            h1
            {
                font-size: 30px;
            }
        }
    }
    .itemList
    {

        .itemContainer
        {
            display: flex;
            flex-flow: column;
            height:fit-content;
            .reviewAndItem
            {
                height:fit-content;
                h2
                {
                    font-size: 12px;
                }
                img
                {
                    width:100%;
                    height:60%;
                    padding: 10px;
                }
            }
            .reviews
            {
                width: 100%;
                .reviewContainer
                {
                    position: relative;
                    h1
                    {
                        padding:5px;
                        font-size: 1em;
                        text-decoration: none;
                    }  
                }
            }
        }
    }
}
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
@media screen and (max-width: 510px)
{
    .Toptotal
    {
        .settings
        {
            column-gap: 5px;
            h1
            {
                Font-size:15px;
                padding-right: 5%;
            }
        }
        .Top
        {
            h1
            {
                font-size: 190%;

            } 
        }
    }
    .itemList
    {
        .itemContainer
        {
            .reviewAndItem
            {
                .TitleandDelete
                {
                    h1
                    {
                        font-size: 1.5em;
                        
                    }
                    button
                    {  
                        width: 50px;
                        height:50PX;
                    }  
                }
            }
        }
    }
}
