/* Reset styles for cross-browser consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.StickyTop
{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        display: flex;
        flex-flow: column;
        background-image: url('https://th.bing.com/th/id/R.84e4a342622e2129949448172421b74f?rik=SELFg6ubcD4YuQ&riu=http%3a%2f%2fwww.fractalcamo.com%2fuploads%2f5%2f9%2f0%2f2%2f5902948%2fs189772745713394276_p5588_i149_w640.jpeg&ehk=QeErQsTC77NBMRamoYv3E2jxs9gj00lTY6bgmVwsDvU%3d&risl=&pid=ImgRaw&r=0;');
        .Filter:hover
        {
            background-color: white;
            opacity: 1;
            display: flex;
            flex-flow: row;
            form
            {
                display: flex
            }
    
        }
        .Filter
        {
            background-color: white;
            opacity: .5;
            display: flex;
            flex-flow: row;
            form
            {
                display: none
            }
        };
}
.Toptotal
{
    
    width:100dvw;
    background-image: url("https://th.bing.com/th/id/R.847fa3429e0402cbe1b4869be373dd38?rik=VqqOdfm06W%2bZog&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fxmIejHd.jpg&ehk=uK9oWpMla%2fJASDFU4NRy4VPWxS1AqPrQ69FqPDxZdcA%3d&risl=&pid=ImgRaw&r=0");
    .settings
    {
        display: flex;
        flex-flow: row-reverse;
        column-gap: 50px;
        background: transparent;
        a{
            color: black;
            text-decoration: none;
        }
        h1:hover
        {
            cursor: pointer;
        }
        h1
        {
            Font-size:35px;
            padding-right: 5%;
        }
    }
    .Top
    {
        height:45dvh;
        width:100dvw;
        height:180px;
        justify-content: center;
        background-size: cover;
        h1
        {
            position: relative;
            margin-top: 2%;
            text-align: center;
            font-size: 400%;
            color: rgb(124, 91, 0);
            background-color: #022902; 
            opacity: .9;
        } 
    }
}
.Middle
{
    top:45dvh;
    background-color: #3b3a3a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20pt;   
    color: rgb(124, 91, 0);
    background-color: #022902;
    height:60px;
    width:100dvw;
    #Lakes
    {
        display: flex;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        background-color: inherit;
        cursor: pointer;
        font-size: 2em;
        height:100%;
        min-width:100px;
        width:50%;
        h1
        {
            color: rgb(124, 91, 0);
            font-size: 1em;
            text-decoration: none;
        }
        a
        {           
            text-decoration: none;
        }
    }
    #Rivers
    {
        display: flex;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        background-color: inherit;
        cursor: pointer;
        font-size: 2em;
        height:100%;
        min-width:100px;
        width:50%;
        h1
        {
            color: rgb(124, 91, 0);
            font-size: 1em;
            text-decoration: none;
        }
        a
        {           
            text-decoration: none;
        }
    }
}
.List
{
       overflow-y: scroll;
       Height:600px;
       background-image: url('https://th.bing.com/th/id/R.84e4a342622e2129949448172421b74f?rik=SELFg6ubcD4YuQ&riu=http%3a%2f%2fwww.fractalcamo.com%2fuploads%2f5%2f9%2f0%2f2%2f5902948%2fs189772745713394276_p5588_i149_w640.jpeg&ehk=QeErQsTC77NBMRamoYv3E2jxs9gj00lTY6bgmVwsDvU%3d&risl=&pid=ImgRaw&r=0;');
        .itemList
        { 
            padding-top: 50px;
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 20px;
            justify-content: space-around;
            .itemContainer
            {
                position:relative;
                padding-top: 10px;
                width: 20vw;
                min-width: 250px;
                max-width: 700px;
                min-height: 500px;
                height:500px;
                min-height: 300px;
                color: black;
                background-color:white;
                border: 2px solid black;
                cursor: pointer;
                border-radius: 5%;
                background-color: tan;
                img
                {
                    width:100%;
                    height:50%;
                    padding: 10px;
                }
                h1
                {
                    padding: 10px;
                    text-decoration: underline;
                }
                h2
                {
                    font-size: 20px;
                    padding: 5px;
                    padding-top:10px
                }
                a
                {
                    color:black;
                    text-decoration: none;
                }

            }
        }
    }

@media screen and (max-width: 425px)
{
    .Toptotal
    {
        .settings
        {
            h1
            {
                Font-size:15px;
                padding-right: 5%;
            }
        }
        .Top
        {
            h1
            {
                font-size: 300%;

            } 
        }
    }
    .Middle
    {
        font-size: 15pt;   
        #Lakes
        {

            h1
            {
                font-size: 30px;
            }

        }
        #Rivers
        {
            h1
            {
                font-size: 30px;
            }
        }
    }
    .List{

        .itemList
        {
            .itemContainer
            {

            min-width: 250px;
            min-height: 400px;
            height:400px;
            min-height: 300px;
            h2
            {
                font-size: 12px;
            }
            }
            img
            {
                width:100%;
                height:40%;
                padding: 10px;
            }
        }
    }
}